@tailwind base;
@tailwind components;
@tailwind utilities;


.splide__pagination__page.is-active {
    background-color: #ff6f59;
  }
  .splide__arrow {
    background-color: white;
    border: none;
    font-size: 0.6rem;
    color: #505050;
    font-weight: 300;
  }
  .splide__arrow--prev {
    top: 90%;
    left: 24rem;
  }.splide__arrow--next {
    top: 90%;
    left: 26rem;
  }

  .splide__pagination {
  background-color: white;
  display: flex;
  justify-content: flex-start;
  width: fit-content;
  padding: 5px 14px 5px 14px;
  border-radius: 10px;
  margin-left: 14px;
  }

  @media (max-width: 576px) {
    .splide__arrow--prev {
      top: 92%;
      left: 14rem;
    }.splide__arrow--next {
      top: 92%;
      left: 16rem;
    }
  }